* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D1CAA1;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header h1 a {
    color: #1d3557;
    text-decoration: none;
}

main {
    position: absolute;
    top: 5em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 8%;
    height: 30em;
    background-color: #1d3557;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .nav a {
    text-decoration: none;
    color: #f1faee;
    font-size: 16px;
}

.container .nav a:hover {
    height: 3em;
    color: #1d3557;
    background-color: #D1CAA1;
}

.content {
    padding-left: 1em;
    padding-right: 1em;
    color: #f1faee;
    font-size: 2em;
    font-weight: 900;
}

ul li {
    list-style-type: circle;
    display: inline-flex;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.dot {
    font-size: .5em;
    border-top-right-radius: .4em;
    border-top-left-radius: .4em;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.active,
.dot:hover {
    background-color: #1d3557;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.image img {
    width: 12.5em;
    height: 13em;
    border-radius: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* text-align: center; */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    justify-content: flex-end;
    /* position: relative;
    bottom: 0; */
    width: 100%;
    height: 3em;
    background-color: #f1faee;
}

@media screen and (max-width: 375px) {
    body {
        min-width: 50vw;
        min-height: 100vh;
    }
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .container .nav {
        position: absolute;
        right: 0;
        top: 20px;
        justify-content: space-around;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 10em;
        width: 15%;
    }
    .container .nav a {
        text-decoration: none;
        color: #f1faee;
        font-weight: 900;
        font-size: 12px;
    }
    .content {
        font-size: 1.5em;
        /* padding-left: 1.5em;
        padding-right: 1.5em; */
    }
    /* image img {
        padding-left: 2em;
    } */
    /* .content {
        padding-left: 1em;
        padding-right: 1em;
        color: #f1faee;
        font-size: 3.5em;
        font-weight: 900;
    } */
    header h1 a {
        font-size: 18px;
    }
    .footer {
        position: unset;
        left: 0;
        bottom: 0;
        /* width: 100%; */
        /* text-align: center; */
    }
    footer {
        position: absolute;
        bottom: -15em;
        height: 2.5em;
    }
}